/** 1 **/
body {
    width: 40em;
    margin: 0 auto;
}

/** 2 **/
p::first-letter {
    color: #903;
    font-size: 2em;
    line-height: 0;
    font-family: Georgia;
}

/** 3.a **/
/*p::first-line {
    font-style: italic;
}*/

/** 3.b **/
h2 + p::first-line {
    font-style: italic;
}

/** 4 **/
h2:nth-of-type(2n) {
    text-align: right;
}

/** 5 **/
h2 {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

/** 6.a **/
p:last-of-type {
    text-align: center;
    font-weight: bold;
}

/** 6.b **/
/* Non, j'aurai ajouté une classe */

/** 7 **/
h2::before, h2::after {
    content: "❦";
    margin: 0 10px;
}

/** 8 **/
h2::before, h2::after {
    color: red;
}

/** 9 **/
p:hover {
    background-color: #EEE;
}

/** 10 **/
p:hover + p {
    background-color: #EEE;
}

/** 11 **/
h2:not(:hover) {
    font-variant: small-caps;
}

/** 12 **/
h2:hover ~ p {
    background-color: rgba(255, 0, 0, .2);
}

h2:hover ~ h2 ~ p {
    background-color: transparent;
}
